include LICENSE

include tvb_data/__init__.py
include tvb_data/Default_Project.zip

include tvb_data/brco/tvb-brco.xml

include tvb_data/connectivity/*.zip
include tvb_data/connectivity/__init__.py

include tvb_data/dti_pipeline_toronto/*.csv
include tvb_data/dti_pipeline_toronto/*.zip

include tvb_data/gifti/__init__.py
include tvb_data/gifti/*.gii

include tvb_data/h5/__init__.py
include tvb_data/h5/*.h5

include tvb_data/nifti/__init__.py
include tvb_data/nifti/*.nii
include tvb_data/nifti/*.nii.gz
include tvb_data/nifti/volume_mapping/*.txt

include tvb_data/projectionMatrix/*.mat
include tvb_data/projectionMatrix/*.npy
include tvb_data/projectionMatrix/__init__.py

include tvb_data/regionMapping/__init__.py
include tvb_data/regionMapping/*.txt
include tvb_data/regionMapping/*.zip
include tvb_data/regionMapping/*.bz2

include tvb_data/sensors/*.bz2
include tvb_data/sensors/*.txt
include tvb_data/sensors/__init__.py

include tvb_data/surfaceData/__init__.py
include tvb_data/surfaceData/*.zip
include tvb_data/surfaceData/*.h5

include tvb_data/local_connectivity/__init__.py
include tvb_data/local_connectivity/*.mat

include tvb_data/obj/__init__.py
include tvb_data/obj/*.obj

prune __pycache__
global-exclude *.pyc